#contents{
  display: flex;
  flex-direction: column;

  background-color: #E0FFFF;
  color: #6495ED;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  font-size: 15;
}

.img {
  border:1px solid #021a40;
}

.timer {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}
.clock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
}
.hrs {
  width: 32px;
  margin: 0px 2px;
}

.mins {
  width: 32px;
  margin: 0px 2px;
}
